:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: "InterDisplay";
}

header {
  background: #f1f1f1;
}
header .container {
  max-width: 1400px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  justify-content: right;
}

ul .li {
  text-decoration: none;
}
